/* Desenvolva a estilização da sua página aqui */

.main-content{
    padding-top: 180px;
    max-width: 100%;
}

.categories-nav ul{
    gap: 20px;
    list-style: none;
}

.app-header{
    gap: 50px;
}

.sum-header{
    background-color: var(--color-grey-5);
    margin-bottom: 50px;
    max-width: 100%;
}

.list-default{
    padding: 14px 16px;
    border: 1.5px solid var(--color-grey-4);
    border-radius: var(--radius-1);
    max-width: 100%;
}

.delete-element{
    height: 26px;
    cursor: pointer;
    padding: 2px;
    background-color: transparent;
    border: 1.5px solid var(--color-grey-5);
    border-radius: var(--radius-2);
}

.delete-element-icon{
    object-fit: cover;
    width: 100%;
    height: 100%;
    opacity: 50%;
}

.delete-element-icon:hover{
    opacity: 1;
}

.right-side{
    gap: 20px;
}

.statement-list{
    gap: 20px;
}

.empty-list-warning{
    background-color: var(--color-grey-5);
    border: 1.5px dashed  var(--color-grey-3);
    border-radius: var(--radius-1);
    height: 84px;
}

@media (max-width:600px) {

    .main-content{
        margin: 0;
    }
    .nav-header{
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
    }

    .add-value-modal{
        height: 432px;
    }

    .add-new-value{
        height: 65%;
    }

    .value-type{
        flex-direction: column;
    }

    .value-type .btn-default{
        width: 100%;
    }

    .selected-category{
        width: 100%;
    }

    .mobile-default-btn{
        width: 50%;
    }

    .header-content{
        flex-direction: column;
        justify-content: flex-start;
        width: 100%;
        margin: 0;
    }

    .header-logo{
        width: 100%;
    }

    .header-content .btn-register-value{
        margin-top: 10px;
        width: 100%;
    }

}