.btn-default{
    border-radius: var(--radius-1);
    color: var(--color-grey-2);
    padding: 0 14px;
    height: 32px;
    cursor: pointer;
    border: none;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-default-hover{
    transition: var(--animation-duration);
}

.btn-default-hover:hover{
    background-color: var(--color-grey-4);
}

.btn-register-value{
    background-color: var(--color-brand-1);
    color: var(--color-mode);
    border: none;
    font-weight: var(--font-weight-3);
    transition: 0.4s;
}

.btn-register-value:hover{
    background-color: var(--color-brand-2);
}

.select-category{
    border: 1.5px solid var(--color-grey-5);
    background-color: transparent;
    transition: var(--animation-duration);
}

.select-category:hover{
    border: 1.5px solid var(--color-brand-1);
}

.selected-category{
    border: 1.5px solid var(--color-brand-1);
    background-color: var(--color-brand-3);
    color: var(--color-brand-1);
}

.category-span{
    border-radius: var(--radius-2);
    color: var(--color-grey-2);
    padding: 0 14px;
    width: 68px;
    height: 26px;
    border: none;
    font-weight: var(--font-weight-2);
    font-size: var(--font-size-4);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-grey-4);
}

.delete-element{
    height: 26px;
    cursor: pointer;
    padding: 2px;
    background-color: transparent;
    border: 1.5px solid var(--color-grey-5);
    border-radius: var(--radius-2);
}

.delete-element-icon{
    object-fit: cover;
    width: 100%;
    height: 100%;
    opacity: 60%;
}

.delete-element-icon:hover{
    opacity: 1;
}