.flex{
    display: flex;
}

.direction-column{
    flex-direction: column;
}

.direction-column-reverse{
    flex-direction: column-reverse;
}

.justify-between{
    justify-content: space-between;
}

.justify-center{
    justify-content: center;
}

.justify-end{
    justify-content: flex-end;
}

.align-center{
    align-items: center;
}

